# idea ignore
.idea/
*.ipr
*.iml
*.iws
.vscode/

# temp ignore
*.log
*.cache
*.diff
*.exe
*.exe~
*.patch
*.swp
*.tmp

# system ignore
.DS_Store
Thumbs.db

# project
*.cert
*.key
tool/atreus/atreus
tool/atreus-protoc/atreus-protoc
tool/atreus-gen-bts/atreus-gen-bts
tool/atreus-gen-mc/atreus-gen-mc
tool/atreus/atreus-protoc/atreus-protoc
tool/atreus/protobuf/protoc-gen-bm/protoc-gen-bm
tool/atreus/protobuf/protoc-gen-ecode/protoc-gen-ecode
tool/atreus/protobuf/protoc-gen-bswagger/protoc-gen-bswagger
